// -------------------------------------------------------------- PRE

$border: 1px solid #555;
$pad:    20px;
$color:  #fea;
$dark:   #233;
$mid:    #999;
$light:  #fdfdfd;

@import 'norm';
@import 'grid';

// -------------------------------------------------------------- GLOBAL

*{margin:0;padding:0;border:0;}
*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

html {
  height: 100%; // needed to make gradient work
}

body {
  background: rgb(80,80,80); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(80,80,80) 0%, rgb(57,51,49) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(80,80,80) ), color-stop(100%, rgb(57,51,49) )); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(80,80,80) 0%, rgb(57,51,49) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(80,80,80) 0%, rgb(57,51,49) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(80,80,80) 0%, rgb(57,51,49) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(80,80,80) 0%, rgb(57,51,49) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#393331',GradientType=0 ); /* IE6-9 */
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

// move this when I'm done
$background: #f3f6f9;
$back2: desaturate($background, 25);

.wrapper {
  background: $background;//f3f6f9
  border-radius: 10px;
  overflow: hidden; // fixes border radius on top
  margin: $pad 0; // temporary?
  box-shadow: -1px -1px 0px 1px  lighten($back2,20), // inside top
               1px  1px 0px 1px  darken($back2, 20), // inside bottom
               0px  0px 0px 15px darken($back2,  5), // main color
               1px  1px 0px 15px lighten($back2,20), // outside top
              -1px -1px 0px 15px darken($back2, 20); // outside bottom
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

// -------------------------------------------------------------- HEADER

header {
  padding: $pad;
  color: #eee;
  a {
    text-decoration: none;
    color: #f00;
  }
  div {
    float: right;
  }
}

// -------------------------------------------------------------- NAV 

nav {
  text-align: center;
  a {
    padding: $pad;
    display: block;
    width: 100%;
    border-top: $border;
    border-bottom: $border;
    background-color: $light;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	  background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	  background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	  background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	  background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background: $background;//temporary
	&:hover {
	  background-image: none;
	  background-color: rgba(225,223,226,1);
	}
  }
}

// -------------------------------------------------------------- SIDEBAR

aside {
  border-left: $border;
}

// -------------------------------------------------------------- BLOG

.post {
  margin: $pad 0;
  div {
    padding: 5px 0;
  }
}

// -------------------------------------------------------------- VS

.vs {
  clear: both;
  border-top: $border;
}

// -------------------------------------------------------------- SEC



// -------------------------------------------------------------- POSTS



// -------------------------------------------------------------- FOOTER

footer {
  @extend header;
  text-align: center;
}

// -------------------------------------------------------------- MEDIA

@media (max-width: 640px) {
  * {color: green;} // Just testing to make sure it works. I'll come back to this later.
}













